:root {
	--white: #fff;
	--border-line: #eee;
	--vlight-gray: #f5f4fa;
	--lgray: #e5e5e5;
	--gray: #757575;
	--dark-gray: #2f303a;
	--vdark-gray: #212121;
	--black: #000;
	--color-blue: #2196f3;
	--header-border: #ececec;
	--shadowgray: rgba(255, 255, 255, 0.6);
	--blight-gray: #afb1b8;
	--transition-duration: 250ms;
	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
	--modal-bgc: rgba(0, 0, 0, 0.1);
	--modal-bs: rgba(0, 0, 0, 0.15);
	--modal-border: rgba(33, 33, 33, 0.2);
	--overlay-transparency: rgba(33, 150, 243, 0.9);
}