.footer {
	background-color: var(--dark-gray);

	.footer__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.footer__logo {
		display: flex;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		text-decoration: none;
		color: var(--color-blue);
		font-family: 'Raleway';
	}

	.footer__logo-white {
		color: var(--white);
	}
}

// .footer {
// 	background-color: var(--dark-gray);
// }
// .footer__content {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// 	gap: 20px;
// 	padding-top: 60px;
// 	padding-bottom: 60px;
// }

// .footer__logo {
// 	display: flex;
// 	margin-bottom: 20px;
// 	font-weight: 700;
// 	font-size: 26px;
// 	line-height: 1.19;
// 	text-decoration: none;
// 	color: var(--color-blue);
// 	font-family: 'Raleway';
// }

// .footer__logo-white {
// 	color: var(--white);
// }