.footer__contact {
	display: flex;
	gap: 9px;
	font-size: 14px;
	line-height: 1.71;
	font-style: inherit;
	color: var(--shadowgray);
	transition: color var(--transition-duration) var(--cubic-bezier);

	.footer__link-grey-footer {
		text-decoration: none;
		color: var(--shadowgray);
		transition: color var(--transition-duration) var(--cubic-bezier);
	}
	
	.footer__list-block {
		padding: 0;
		margin: 0;
		list-style-type: none;
		
	}
	.footer__white {
		color: var(--white);
	}
}

// .footer__contact {
// 	display: flex;
// 	gap: 9px;
// 	font-size: 14px;
// 	line-height: 1.71;
// 	font-style: inherit;
// 	color: var(--shadowgray);
// 	transition: color var(--transition-duration) var(--cubic-bezier);
// }

// .footer__contact a {
// 	text-decoration: none;
// 	color: var(--shadowgray);
// 	transition: color var(--transition-duration) var(--cubic-bezier);
// }

// .footer__list-block {
// 	padding: 0;
// 	margin: 0;
// 	list-style-type: none;
// }

// .footer__white {
// 	color: var(--white);
// }
