.modal-btn {
	position: relative;
	display: flex;
	top: 30px;
	margin: auto;
	padding: 10px 76px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	color: var(--white);
	background-color: var(--color-blue);
	border-color: var(--color-blue);
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0px 4px 4px var(--modal-bs);
}